<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.example.mapper.EmployeeMapper">


    <select id="selectById" parameterType="Long" resultType="top.example.entity.Employee">
        select *
        from adm_employee
        where employee_id = #{id}
    </select>

    <select id="getDeptNameById" parameterType="Long" resultType="java.lang.String">
        select department_name
        from adm_department
        where department_id = #{id}
    </select>

    <select id="getManagerByEmp" parameterType="top.example.entity.Employee" resultType="top.example.entity.Employee">
        select * from adm_employee
        <where>
            <if test="emp.title == '部门经理'">
                title = '总经理'
            </if>
            <if test="emp.title != '部门经理'">
                department_id = #{emp.departmentId} and title = '部门经理'
            </if>
        </where>
    </select>



</mapper>